// colors
$color-black: black;
$color-white: white;

$color-primary: #505BBB;

// box shadows
$boxshadow: 0px 5px 15px -5px rgba($color-black, 0.75);
$navbar-boxshadow: 0 8px 0.5rem -0.5rem rgba($color-black, 0.2);
$button-boxshadow-hover: 0 .5rem 1rem rgba($color-black, 0.6);
$button-boxshadow-active: 0 .25rem .5rem rgba($color-black, 0.6);

// border
$border: 1px solid black;
