.home {
  border: 1px black solid;
  &__body {
    border: 1px blue solid;
    display: flex;
    justify-content: space-between;
    &__left {
      border: 1px red solid;
      width: 50%;
    }
    &__right {
      border: 1px pink solid;
      width: 50%;
    }
  }
}
