.input {
  outline: none;
  border: none;
  border-radius: 2px;
  border: 1px solid $color-primary;
  font-family: inherit;
  &:focus {
    border: none;
    border: 1px solid $color-secondary;
  }
}
