.navbar {
  height: 4rem;
  padding: 0rem 2rem 0rem 2rem;
  display: flex;
  align-items: center;
  background-color: $color-primary;
  &__logo {
    position: relative;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    z-index: 999999;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      background-image: url("/images/logo.png");
      background-size: cover;
      width: 2.5rem;
      height: 2.5rem;
      top: -.75rem;
      right: -2rem;
      z-index: -1;
    }
  }
}
