.signup {
  &__header {
    margin-top: 8rem;
    font-size: 3rem;
    text-align: center;
    color: $color-secondary;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 20rem;
    margin: 3rem auto 5rem auto;
    padding: 4rem 3rem 3.5rem 3rem;
    background-color: $color-primary;
    border-radius: 4px;
    &__input {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem;
    }
    &__btn {
      margin: auto;
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      color: white;
      padding: .75rem 1.75rem;
      &:focus {
        border: 1px white solid;
      }
      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }
    }
  }
}
