.signup {
  border: 1px green solid;
  &__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 20rem;
    margin: 10rem auto 5rem auto;
    padding: 4rem 3rem 3.5rem 3rem;
    background-color: $color-primary;
    border-radius: 4px;
    &__input {
      width: 100%;
      margin-bottom: 3rem;
      padding: 1rem;
    }
    &__btn {
      margin: auto;
      background-color: $color-secondary;
      border: 2px solid $color-secondary;
      color: white;
      padding: .75rem 1.75rem;
      &:focus {
        border: 2px white solid;
      }
      &:hover {
        border: 2px solid white;
        cursor: pointer;
      }
    }
  }
}
